/*
███╗   ██╗ █████╗ ██╗   ██╗
████╗  ██║██╔══██╗██║   ██║
██╔██╗ ██║███████║██║   ██║
██║╚██╗██║██╔══██║╚██╗ ██╔╝
██║ ╚████║██║  ██║ ╚████╔╝
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝
*/

nav {
	position: fixed;
	top: 10px;
	height: 50px;
	width: 100%;
	z-index: 1;
}
nav ul {
	float: right;
	height: 50px;
}

nav ul li {
	background-color: #ffffff;
	float: left;
	height: 50px;
	margin-right: 10px;
	line-height: 50px;
	text-align: center;
	/*background-color: green;*/
	width: 100px;
	cursor: pointer;

}

/*
██████╗  ██████╗     ██╗███╗   ███╗ █████╗  ██████╗ ███████╗
██╔══██╗██╔════╝     ██║████╗ ████║██╔══██╗██╔════╝ ██a╔════╝
██████╔╝██║  ███╗    ██║██╔████╔██║███████║██║  ███╗█████╗
██╔══██╗██║   ██║    ██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝
██████╔╝╚██████╔╝    ██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗
╚═════╝  ╚═════╝     ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
*/

.home {
	float: left;
	width: 100%;
	/*height: 800px;*/
	min-height: 800px;
	background: url("http://localhost:8886/project/public/assets/media/images/pizzajohns/background.jpg") no-repeat;
}

/*
██╗      ██████╗  ██████╗  ██████╗
██║     ██╔═══██╗██╔════╝ ██╔═══██╗
██║     ██║   ██║██║  ███╗██║   ██║
██║     ██║   ██║██║   ██║██║   ██║
███████╗╚██████╔╝╚██████╔╝╚██████╔╝
╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝
*/

.logo {
	height: 200px;
	margin-top: 100px;
	background-color: #ffffff;
	opacity:0.6;
}
.logo img{
	margin-top: 25px;
}
.logo p {
	line-height: 400px;
	text-align: center;
}

/*
 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
███████║██████╔╝██║   ██║██║   ██║   ██║
██╔══██║██╔══██╗██║   ██║██║   ██║   ██║
██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║
╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝
*/

.about {
	padding-top: 100px;
	min-height: 800px;

background: #f9f3e5; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f3e5 0%, #e5dccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f3e5), color-stop(100%,#e5dccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f3e5 0%,#e5dccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f3e5 0%,#e5dccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f3e5 0%,#e5dccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f3e5 0%,#e5dccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f3e5', endColorstr='#e5dccc',GradientType=0 ); /* IE6-9 */

}

.about-text-container {
	margin-top: 50px;
}

.about img {
/*	border-radius: 10px;
  	border: 20px solid #d5d2d2;
*/
}
.about-text {
	clear: left;
}


/*
███╗   ███╗███████╗███╗   ██╗██╗   ██╗
████╗ ████║██╔════╝████╗  ██║██║   ██║
██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║
██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║
██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝
╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝

*/

.menu {

	min-height: 800px;
	height: auto;

	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top,  #bcbcbc 0%, #c6c6c6 47%, #c9c9c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(47%,#c6c6c6), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */

}
.inner-menu-container{
	margin-top: 100px;
}
.menu-text-container {
	margin-top: 50px;
}

.menu-items {

}

.menu-items ul {

}
.menu-items li {
	height: 50px;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	margin-top: 10px;
	cursor: pointer;

	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}


/*
██╗      ██████╗  ██████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
██║     ██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
██║     ██║   ██║██║     ███████║   ██║   ██║██║   ██║██╔██╗ ██║
██║     ██║   ██║██║     ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
███████╗╚██████╔╝╚██████╗██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/


.location {
	min-height: 800px;
	float: left;
	clear: left;
	width: 100%;
	color: white;

	background: #777777; /* Old browsers */
	background: -moz-linear-gradient(top,  #777777 0%, #757575 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#757575)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #777777 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #777777 0%,#757575 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #777777 0%,#757575 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #777777 0%,#757575 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#757575',GradientType=0 ); /* IE6-9 */

}

/*
███╗   ███╗ █████╗ ██████╗
████╗ ████║██╔══██╗██╔══██╗
██╔████╔██║███████║██████╔╝
██║╚██╔╝██║██╔══██║██╔═══╝
██║ ╚═╝ ██║██║  ██║██║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝
*/

.inner-location-container{
	margin-top: 150px;
}
#map_canvas {
	width: 800px;
	height: 400px;
	background-color: #CCC;
	border: 20px solid white;
}


























