
/*
███╗   ███╗███████╗███╗   ██╗██╗   ██╗███████╗    ██████╗  █████╗  ██████╗ ███████╗
████╗ ████║██╔════╝████╗  ██║██║   ██║██╔════╝    ██╔══██╗██╔══██╗██╔════╝ ██╔════╝
██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║███████╗    ██████╔╝███████║██║  ███╗█████╗
██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║╚════██║    ██╔═══╝ ██╔══██║██║   ██║██╔══╝
██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝███████║    ██║     ██║  ██║╚██████╔╝███████╗
╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝
*/

.menu-type-container{
	/*background-color: white;*/
		/*opacity:0.6;*/
}
.menu-item h4 {
	color: #222222;
	padding-top: 10px;
	color: rgb(230, 238, 242);
	font-size: 1.5em;
}
.menu-type-container h2 {
	color: rgb(230, 238, 242);
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 50px;
}

.menu-item p {
	padding-top: 10px;
	color: rgb(230, 238, 242);
	line-height: 20px;
	text-align: center;
	padding-bottom: 10px;
}
.menu-item{
	margin-top: 15px;
	background: rgba(34, 34, 34, 0.9);
	height: auto;
}

/*
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/*
██╗  ██╗     ███████╗███╗   ███╗ █████╗ ██╗     ██╗
╚██╗██╔╝     ██╔════╝████╗ ████║██╔══██╗██║     ██║
 ╚███╔╝█████╗███████╗██╔████╔██║███████║██║     ██║
 ██╔██╗╚════╝╚════██║██║╚██╔╝██║██╔══██║██║     ██║
██╔╝ ██╗     ███████║██║ ╚═╝ ██║██║  ██║███████╗███████╗
╚═╝  ╚═╝     ╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝
*/

@media all and (max-width: 768px ){





	/*
	███╗   ██╗ █████╗ ██╗   ██╗    ██╗  ██╗███████╗
	████╗  ██║██╔══██╗██║   ██║    ╚██╗██╔╝██╔════╝
	██╔██╗ ██║███████║██║   ██║     ╚███╔╝ ███████╗
	██║╚██╗██║██╔══██║╚██╗ ██╔╝     ██╔██╗ ╚════██║
	██║ ╚████║██║  ██║ ╚████╔╝     ██╔╝ ██╗███████║
	╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝      ╚═╝  ╚═╝╚══════╝
	*/

	/* hiddedn by default */
	.nav-slider{
		position: fixed;
		right: 10px;
		top: 10px;
		z-index: 1;
		cursor:pointer;

		/*background-color: white;*/
		/*background-color: white;*/
	}
	nav {
		display: hidden;
	}

	/*
	██╗  ██╗ ██████╗ ███╗   ███╗███████╗    ██╗  ██╗███████╗
	██║  ██║██╔═══██╗████╗ ████║██╔════╝    ╚██╗██╔╝██╔════╝
	███████║██║   ██║██╔████╔██║█████╗       ╚███╔╝ ███████╗
	██╔══██║██║   ██║██║╚██╔╝██║██╔══╝       ██╔██╗ ╚════██║
	██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗    ██╔╝ ██╗███████║
	╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝    ╚═╝  ╚═╝╚══════╝
	*/
	#background-image{
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	}
	#home {

		float: left;
		width: 100%;
		max-height: 1000px;
		min-height: 800px;
		/*height: 800px;*/
		min-height: 800px;
		/*background: url("http://localhost:8886/project/public/assets/media/images/pizzajohns/background.jpg") no-repeat;*/
	}

	/*
	██╗      ██████╗  ██████╗  ██████╗     ██╗  ██╗███████╗
	██║     ██╔═══██╗██╔════╝ ██╔═══██╗    ╚██╗██╔╝██╔════╝
	██║     ██║   ██║██║  ███╗██║   ██║     ╚███╔╝ ███████╗
	██║     ██║   ██║██║   ██║██║   ██║     ██╔██╗ ╚════██║
	███████╗╚██████╔╝╚██████╔╝╚██████╔╝    ██╔╝ ██╗███████║
	╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝     ╚═╝  ╚═╝╚══════╝
	*/
	.logo {
		height: auto;
		margin-top: 20vh;
		background-color: #ffffff;
		opacity:0.6;
	}
	.logo img{
		margin-top: 25px;
	}

	/*
	 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗    ██╗  ██╗███████╗
	██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝    ╚██╗██╔╝██╔════╝
	███████║██████╔╝██║   ██║██║   ██║   ██║        ╚███╔╝ ███████╗
	██╔══██║██╔══██╗██║   ██║██║   ██║   ██║        ██╔██╗ ╚════██║
	██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║       ██╔╝ ██╗███████║
	╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝       ╚═╝  ╚═╝╚══════╝
	*/

	.about-container-1{
		display: none;
	}

	#about {
	padding-top: 100px;
	height: auto;
	float: left;


	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


	}

	.about-text-container {
		margin-top: 50px;
	}

	.about img {
		/*border-radius: 10px;*/
	  	border: 10px solid #000000;

	}
	.about-text {
		clear: left;
		margin-bottom: 20px;
	}

	/*
	███╗   ███╗███████╗███╗   ██╗██╗   ██╗    ██╗  ██╗███████╗
	████╗ ████║██╔════╝████╗  ██║██║   ██║    ╚██╗██╔╝██╔════╝
	██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║     ╚███╔╝ ███████╗
	██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║     ██╔██╗ ╚════██║
	██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝    ██╔╝ ██╗███████║
	╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝     ╚═╝  ╚═╝╚══════╝
	*/

	#menu {
		max-height: 1000px;
		min-height: 800px;
		height: auto;
		width: 100%;

		background: #bcbcbc; /* Old browsers */
		background: -moz-linear-gradient(top,  #bcbcbc 0%, #c6c6c6 47%, #c9c9c9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(47%,#c6c6c6), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */

	}
	.inner-menu-container{
		margin-top: 100px;
	}
	.menu-text-container {
		margin-top: 50px;
	}

	.menu-items {
		/*background-color: green;*/
	}

	.menu-items ul {

	}
	.menu-items li {
		height: 50px;
		/*margin-left: 10px;*/
		text-align: center;
		line-height: 50px;
		margin-top: 10px;
		cursor: pointer;

		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	}

	.menu img {
	  	border: 10px solid #000000;
	}
	.menu-container-1{
		display: none;
	}
	/*
	██╗      ██████╗  ██████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗    ██╗  ██╗███████╗
	██║     ██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║    ╚██╗██╔╝██╔════╝
	██║     ██║   ██║██║     ███████║   ██║   ██║██║   ██║██╔██╗ ██║     ╚███╔╝ ███████╗
	██║     ██║   ██║██║     ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║     ██╔██╗ ╚════██║
	███████╗╚██████╔╝╚██████╗██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║    ██╔╝ ██╗███████║
	╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝
	*/


	#location {
		min-height: 600px;
		max-height: 1200px;
		width: 100%;
		color: white;
		overflow: show;

		background: #777777; /* Old browsers */
		background: -moz-linear-gradient(top,  #777777 0%, #757575 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#757575)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #777777 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #777777 0%,#757575 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #777777 0%,#757575 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #777777 0%,#757575 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#757575',GradientType=0 ); /* IE6-9 */

	}
	/*
	███╗   ███╗ █████╗ ██████╗     ██╗  ██╗███████╗
	████╗ ████║██╔══██╗██╔══██╗    ╚██╗██╔╝██╔════╝
	██╔████╔██║███████║██████╔╝     ╚███╔╝ ███████╗
	██║╚██╔╝██║██╔══██║██╔═══╝      ██╔██╗ ╚════██║
	██║ ╚═╝ ██║██║  ██║██║         ██╔╝ ██╗███████║
	╚═╝     ╚═╝╚═╝  ╚═╝╚═╝         ╚═╝  ╚═╝╚══════╝
	*/

	.inner-location-container{
		margin-top: 10%;
		/*background-color: green;*/
	}
	#map_canvas {
		width: 100%;
		height: 400px;
		background-color: #CCC;
		border: 20px solid white;
	}
}
/* ====================== */
/* end X-small media query */

/*
███████╗███╗   ███╗ █████╗ ██╗     ██╗
██╔════╝████╗ ████║██╔══██╗██║     ██║
███████╗██╔████╔██║███████║██║     ██║
╚════██║██║╚██╔╝██║██╔══██║██║     ██║
███████║██║ ╚═╝ ██║██║  ██║███████╗███████╗
╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝
*/

/* Small devices (tablets, 768px and up) */
@media all and (min-width: 769px ) and (max-width: 920px){

	/*
	██╗  ██╗ ██████╗ ███╗   ███╗███████╗    ███████╗███╗   ███╗
	██║  ██║██╔═══██╗████╗ ████║██╔════╝    ██╔════╝████╗ ████║
	███████║██║   ██║██╔████╔██║█████╗      ███████╗██╔████╔██║
	██╔══██║██║   ██║██║╚██╔╝██║██╔══╝      ╚════██║██║╚██╔╝██║
	██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗    ███████║██║ ╚═╝ ██║
	╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝    ╚══════╝╚═╝     ╚═╝
	*/

	#background-image{
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  /* Preserve aspet ratio */
		  min-width: 100%;
		  min-height: 100%;
	}
	#home {
		float: left;
		width: 100%;
		max-height: 1000px;
		min-height: 800px;
		/*height: 800px;*/
		min-height: 800px;
		/*background: url("http://localhost:8886/project/public/assets/media/images/pizzajohns/background.jpg") no-repeat;*/
	}

	/*
	██╗      ██████╗  ██████╗  ██████╗     ███████╗███╗   ███╗
	██║     ██╔═══██╗██╔════╝ ██╔═══██╗    ██╔════╝████╗ ████║
	██║     ██║   ██║██║  ███╗██║   ██║    ███████╗██╔████╔██║
	██║     ██║   ██║██║   ██║██║   ██║    ╚════██║██║╚██╔╝██║
	███████╗╚██████╔╝╚██████╔╝╚██████╔╝    ███████║██║ ╚═╝ ██║
	╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝     ╚══════╝╚═╝     ╚═╝
	*/

	.logo {
		height: auto;
		margin-top: 20vh;
		background-color: #ffffff;
		opacity:0.6;
	}
	.logo img{
		margin-top: 25px;
	}

	/*
	 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗    ███████╗███╗   ███╗
	██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝    ██╔════╝████╗ ████║
	███████║██████╔╝██║   ██║██║   ██║   ██║       ███████╗██╔████╔██║
	██╔══██║██╔══██╗██║   ██║██║   ██║   ██║       ╚════██║██║╚██╔╝██║
	██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║       ███████║██║ ╚═╝ ██║
	╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝       ╚══════╝╚═╝     ╚═╝
	*/

	#about {
		padding-top: 100px;
		height: auto;

		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	}

	.about-text-container {
		margin-top: 50px;
		margin-bottom: 10px;
	}

	.about img {
	  	/*border: 20px solid #d5d2d2;*/
	  	border: 10px solid #000000;

	}
		/*
	███╗   ███╗███████╗███╗   ██╗██╗   ██╗    ███████╗███╗   ███╗
	████╗ ████║██╔════╝████╗  ██║██║   ██║    ██╔════╝████╗ ████║
	██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║    ███████╗██╔████╔██║
	██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║    ╚════██║██║╚██╔╝██║
	██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝    ███████║██║ ╚═╝ ██║
	╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝     ╚══════╝╚═╝     ╚═╝
	*/

	#menu {
		max-height: 1000px;
		min-height: 800px;
		height: auto;
		width: 100%;

		background: #bcbcbc; /* Old browsers */
		background: -moz-linear-gradient(top,  #bcbcbc 0%, #c6c6c6 47%, #c9c9c9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(47%,#c6c6c6), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */

	}
	.inner-menu-container{
		margin-top: 100px;
	}
	.menu-text-container {
		margin-top: 50px;
		margin-bottom: 10px;
	}

	.menu-items li {
		height: 50px;
		/*margin-left: 10px;*/
		text-align: center;
		line-height: 50px;
		margin-top: 10px;
		cursor: pointer;

		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	}

	.menu img {
	  	border: 10px solid #000000;
	}
	.menu-container-1{
		/*display: none;*/
	}

		/*
	██╗      ██████╗  ██████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗    ███████╗███╗   ███╗
	██║     ██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║    ██╔════╝████╗ ████║
	██║     ██║   ██║██║     ███████║   ██║   ██║██║   ██║██╔██╗ ██║    ███████╗██╔████╔██║
	██║     ██║   ██║██║     ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║    ╚════██║██║╚██╔╝██║
	███████╗╚██████╔╝╚██████╗██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║    ███████║██║ ╚═╝ ██║
	╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝    ╚══════╝╚═╝     ╚═╝
	*/


	#location {
		padding-bottom: 10px;
		min-height: 600px;
		max-height: 1200px;
		width: 100%;
		color: white;
		overflow: show;

		background: #777777; /* Old browsers */
		background: -moz-linear-gradient(top,  #777777 0%, #757575 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#757575)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #777777 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #777777 0%,#757575 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #777777 0%,#757575 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #777777 0%,#757575 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#757575',GradientType=0 ); /* IE6-9 */

	}
	/*
	███╗   ███╗ █████╗ ██████╗     ███████╗███╗   ███╗
	████╗ ████║██╔══██╗██╔══██╗    ██╔════╝████╗ ████║
	██╔████╔██║███████║██████╔╝    ███████╗██╔████╔██║
	██║╚██╔╝██║██╔══██║██╔═══╝     ╚════██║██║╚██╔╝██║
	██║ ╚═╝ ██║██║  ██║██║         ███████║██║ ╚═╝ ██║
	╚═╝     ╚═╝╚═╝  ╚═╝╚═╝         ╚══════╝╚═╝     ╚═╝
	*/

	.inner-location-container{
		margin-top: 10%;
		/*background-color: green;*/
	}
	#map_canvas {
		width: 100%;
		height: 400px;
		background-color: #CCC;
		border: 20px solid white;
	}

}
/* ====================== */
/* end small media query */

/*
███╗   ███╗███████╗██████╗ ██╗██╗   ██╗███╗   ███╗
████╗ ████║██╔════╝██╔══██╗██║██║   ██║████╗ ████║
██╔████╔██║█████╗  ██║  ██║██║██║   ██║██╔████╔██║
██║╚██╔╝██║██╔══╝  ██║  ██║██║██║   ██║██║╚██╔╝██║
██║ ╚═╝ ██║███████╗██████╔╝██║╚██████╔╝██║ ╚═╝ ██║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝ ╚═════╝ ╚═╝     ╚═╝
*/

/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 921px) and ( max-width: 1199px){



	/*
	███╗   ██╗ █████╗ ██╗   ██╗    ███╗   ███╗██████╗
	████╗  ██║██╔══██╗██║   ██║    ████╗ ████║██╔══██╗
	██╔██╗ ██║███████║██║   ██║    ██╔████╔██║██║  ██║
	██║╚██╗██║██╔══██║╚██╗ ██╔╝    ██║╚██╔╝██║██║  ██║
	██║ ╚████║██║  ██║ ╚████╔╝     ██║ ╚═╝ ██║██████╔╝
	╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝      ╚═╝     ╚═╝╚═════╝
	*/

	nav {
		position: fixed;
		top: 10px;
		height: 50px;
		width: 100%;
		z-index: 1;
	}
	nav ul {
		float: right;
		height: 50px;
	}

	nav ul li {
		background-color: #ffffff;
		float: left;
		height: 50px;
		margin-right: 10px;
		line-height: 50px;
		text-align: center;
		/*background-color: green;*/
		width: 100px;
		cursor: pointer;

	}
	/*
	██╗  ██╗ ██████╗ ███╗   ███╗███████╗    ███╗   ███╗██████╗
	██║  ██║██╔═══██╗████╗ ████║██╔════╝    ████╗ ████║██╔══██╗
	███████║██║   ██║██╔████╔██║█████╗      ██╔████╔██║██║  ██║
	██╔══██║██║   ██║██║╚██╔╝██║██╔══╝      ██║╚██╔╝██║██║  ██║
	██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗    ██║ ╚═╝ ██║██████╔╝
	╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝    ╚═╝     ╚═╝╚═════╝


	*/

	#background-image{
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  /* Preserve aspet ratio */
		  min-width: 100%;
		  min-height: 100%;
	}
	#home {
		float: left;
		width: 100%;
		max-height: 1000px;
		min-height: 800px;
		/*height: 800px;*/
		min-height: 800px;
		/*background: url("http://localhost:8886/project/public/assets/media/images/pizzajohns/background.jpg") no-repeat;*/
	}
		/*
	██╗      ██████╗  ██████╗  ██████╗     ███╗   ███╗██████╗
	██║     ██╔═══██╗██╔════╝ ██╔═══██╗    ████╗ ████║██╔══██╗
	██║     ██║   ██║██║  ███╗██║   ██║    ██╔████╔██║██║  ██║
	██║     ██║   ██║██║   ██║██║   ██║    ██║╚██╔╝██║██║  ██║
	███████╗╚██████╔╝╚██████╔╝╚██████╔╝    ██║ ╚═╝ ██║██████╔╝
	╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝     ╚═╝     ╚═╝╚═════╝
	*/

	.logo {
		height: 200px;
		margin-top: 100px;
		background-color: #ffffff;
		opacity:0.6;
	}
	.logo img{
		margin-top: 25px;
	}

	/*
	 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗    ███╗   ███╗██████╗
	██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝    ████╗ ████║██╔══██╗
	███████║██████╔╝██║   ██║██║   ██║   ██║       ██╔████╔██║██║  ██║
	██╔══██║██╔══██╗██║   ██║██║   ██║   ██║       ██║╚██╔╝██║██║  ██║
	██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║       ██║ ╚═╝ ██║██████╔╝
	╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝       ╚═╝     ╚═╝╚═════╝
	*/

	/* hide one of the images */
	.about-container-1{
		/*display: none;*/
	}

	#about {
		padding-top: 100px;
		min-height: 800px;
		max-height: 1000px;

		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	}

	.about-text-container {
		margin-top: 50px;
	}

	.about img {
	  	border: 10px solid #000000;

	}

	/*
	███╗   ███╗███████╗███╗   ██╗██╗   ██╗    ███╗   ███╗██████╗
	████╗ ████║██╔════╝████╗  ██║██║   ██║    ████╗ ████║██╔══██╗
	██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║    ██╔████╔██║██║  ██║
	██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║    ██║╚██╔╝██║██║  ██║
	██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝    ██║ ╚═╝ ██║██████╔╝
	╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝     ╚═╝     ╚═╝╚═════╝
	*/


	#menu {

		max-height: 1000px;
		min-height: 800px;
		height: auto;

		background: #bcbcbc; /* Old browsers */
		background: -moz-linear-gradient(top,  #bcbcbc 0%, #c6c6c6 47%, #c9c9c9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(47%,#c6c6c6), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */

	}
	.inner-menu-container{
		margin-top: 100px;
	}
	.menu-text-container {
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.menu-items li {
		height: 50px;
		margin-left: 10px;
		text-align: center;
		line-height: 50px;
		margin-top: 10px;
		cursor: pointer;

		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	}
	.menu-image-container{
		height: 300px;

	}

	.menu img {
	  	border: 10px solid #000000;
	  	height: 100%;
	}

	.menu img {
	  	border: 15px solid #000000;
	}
	.menu-container-1{
		/*display: none;*/
	}

	/*
	██╗      ██████╗  ██████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗    ███╗   ███╗██████╗
	██║     ██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║    ████╗ ████║██╔══██╗
	██║     ██║   ██║██║     ███████║   ██║   ██║██║   ██║██╔██╗ ██║    ██╔████╔██║██║  ██║
	██║     ██║   ██║██║     ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║    ██║╚██╔╝██║██║  ██║
	███████╗╚██████╔╝╚██████╗██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║    ██║ ╚═╝ ██║██████╔╝
	╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝    ╚═╝     ╚═╝╚═════╝
	*/


	#location {

		height: auto;
		width: 100%;
		color: white;
		overflow: hidden;
		padding-bottom: 100px;

		background: #777777; /* Old browsers */
		background: -moz-linear-gradient(top,  #777777 0%, #757575 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#757575)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #777777 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #777777 0%,#757575 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #777777 0%,#757575 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #777777 0%,#757575 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#757575',GradientType=0 ); /* IE6-9 */
	}

	/*
	███╗   ███╗ █████╗ ██████╗     ███╗   ███╗██████╗
	████╗ ████║██╔══██╗██╔══██╗    ████╗ ████║██╔══██╗
	██╔████╔██║███████║██████╔╝    ██╔████╔██║██║  ██║
	██║╚██╔╝██║██╔══██║██╔═══╝     ██║╚██╔╝██║██║  ██║
	██║ ╚═╝ ██║██║  ██║██║         ██║ ╚═╝ ██║██████╔╝
	╚═╝     ╚═╝╚═╝  ╚═╝╚═╝         ╚═╝     ╚═╝╚═════╝
	*/

	.inner-location-container{
		margin-top: 10%;

	}
	#map_canvas {
		width: 100%;
		height: 400px;
		background-color: #CCC;
		border: 20px solid white;

	}

}
/* ====================== */
/* end medium media query */

/*
██╗      █████╗ ██████╗  ██████╗ ███████╗
██║     ██╔══██╗██╔══██╗██╔════╝ ██╔════╝
██║     ███████║██████╔╝██║  ███╗█████╗
██║     ██╔══██║██╔══██╗██║   ██║██╔══╝
███████╗██║  ██║██║  ██║╚██████╔╝███████╗
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
*/

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px){

	.phone-contact a, .phone-contact p {
		float: left;

	}
	.phone-contact {
		width: 250px;

		text-align: center;
		line-height: 50px;
		height: 50px;
		background-color: white;
		float: left;
		z-index: 1;
		position: fixed;
		bottom: 10px;
		left: 10px;
		opacity: 0.8;
	}
	/*
	███╗   ██╗ █████╗ ██╗   ██╗
	████╗  ██║██╔══██╗██║   ██║
	██╔██╗ ██║███████║██║   ██║
	██║╚██╗██║██╔══██║╚██╗ ██╔╝
	██║ ╚████║██║  ██║ ╚████╔╝
	╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝
	*/

	nav {
		position: fixed;
		top: 10px;
		height: 50px;
		width: 100%;
		z-index: 1;
	}
	nav ul {
		float: right;
		height: 50px;
	}

	nav ul li {
		background-color: #ffffff;
		float: left;
		height: 50px;
		margin-right: 10px;
		line-height: 50px;
		text-align: center;
		/*background-color: green;*/
		width: 100px;
		cursor: pointer;

	}

	/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗    ██╗      ██████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝    ██║     ██╔════╝
███████║██║   ██║██╔████╔██║█████╗      ██║     ██║  ███╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝      ██║     ██║   ██║
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗    ███████╗╚██████╔╝
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝    ╚══════╝ ╚═════╝


	*/

	#background-image{
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  /* Preserve aspet ratio */
		  min-width: 100%;
		  min-height: 100%;
	}
	#home {
		float: left;
		width: 100%;
		max-height: 1000px;
		min-height: 800px;
		/*height: 800px;*/
		min-height: 800px;
		/*background: url("http://localhost:8886/project/public/assets/media/images/pizzajohns/background.jpg") no-repeat;*/
	}

	/*
		██╗      ██████╗  ██████╗  ██████╗     ██╗      ██████╗
		██║     ██╔═══██╗██╔════╝ ██╔═══██╗    ██║     ██╔════╝
		██║     ██║   ██║██║  ███╗██║   ██║    ██║     ██║  ███╗
		██║     ██║   ██║██║   ██║██║   ██║    ██║     ██║   ██║
		███████╗╚██████╔╝╚██████╔╝╚██████╔╝    ███████╗╚██████╔╝
		╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝     ╚══════╝ ╚═════╝
	*/

	.logo {
		height: 200px;
		margin-top: 100px;
		background-color: #ffffff;
		opacity:0.6;
	}
	.logo img{
		margin-top: 25px;
	}

	/*
	 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗    ██╗      ██████╗
	██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝    ██║     ██╔════╝
	███████║██████╔╝██║   ██║██║   ██║   ██║       ██║     ██║  ███╗
	██╔══██║██╔══██╗██║   ██║██║   ██║   ██║       ██║     ██║   ██║
	██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║       ███████╗╚██████╔╝
	╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝       ╚══════╝ ╚═════╝

	*/

	#about {
		padding-top: 100px;
		min-height: 800px;
		max-height: 1000px;

		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	}

	.about-text-container {
		margin-top: 50px;
	}

	.about img {
	  	border: 10px solid #000000;
	}
	.about-text {
		clear: left;
	}


	/*
	███╗   ███╗███████╗███╗   ██╗██╗   ██╗    ██╗      ██████╗
	████╗ ████║██╔════╝████╗  ██║██║   ██║    ██║     ██╔════╝
	██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║    ██║     ██║  ███╗
	██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║    ██║     ██║   ██║
	██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝    ███████╗╚██████╔╝
	╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝     ╚══════╝ ╚═════╝
	*/


	#menu {
		max-height: 1000px;
		min-height: 800px;
		height: auto;
		float: left;

		background: #bcbcbc; /* Old browsers */
		background: -moz-linear-gradient(top,  #bcbcbc 0%, #c6c6c6 47%, #c9c9c9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(47%,#c6c6c6), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bcbcbc 0%,#c6c6c6 47%,#c9c9c9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */

	}
	.inner-menu-container{
		margin-top: 100px;
	}
	.menu-text-container {
		margin-top: 50px;
	}

	.menu-items li {
		height: 50px;
		margin-left: 10px;
		text-align: center;
		line-height: 50px;
		margin-top: 10px;
		cursor: pointer;

		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	}
	.menu-image-container{
		height: 300px;
	}

	.menu img {
	  	border: 10px solid #000000;
	  	height: 100%;
	}


	/*
	██╗      ██████╗  ██████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗    ██╗      ██████╗
	██║     ██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║    ██║     ██╔════╝
	██║     ██║   ██║██║     ███████║   ██║   ██║██║   ██║██╔██╗ ██║    ██║     ██║  ███╗
	██║     ██║   ██║██║     ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║    ██║     ██║   ██║
	███████╗╚██████╔╝╚██████╗██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║    ███████╗╚██████╔╝
	╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝    ╚══════╝ ╚═════╝
	*/


	#location {
		min-height: 600px;
		/*max-height: 1200px;*/
		width: 100%;
		color: white;
		overflow: show;

		background: #777777; /* Old browsers */
		background: -moz-linear-gradient(top,  #777777 0%, #757575 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#757575)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #777777 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #777777 0%,#757575 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #777777 0%,#757575 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #777777 0%,#757575 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#757575',GradientType=0 ); /* IE6-9 */

	}

	/*
	███╗   ███╗ █████╗ ██████╗     ██╗      ██████╗
	████╗ ████║██╔══██╗██╔══██╗    ██║     ██╔════╝
	██╔████╔██║███████║██████╔╝    ██║     ██║  ███╗
	██║╚██╔╝██║██╔══██║██╔═══╝     ██║     ██║   ██║
	██║ ╚═╝ ██║██║  ██║██║         ███████╗╚██████╔╝
	╚═╝     ╚═╝╚═╝  ╚═╝╚═╝         ╚══════╝ ╚═════╝
	*/

	.inner-location-container{
		margin-top: 15%;

		/*background-color: green;*/
	}
	#map_canvas {
		width: 100%;
		height: 400px;
		background-color: #CCC;
		border: 20px solid white;
	}

}
/* ====================== */
/* end large media query */




















